<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar gasto</title>
</head>
<body>
    <h1>Cadastrar gasto</h1>
    <form action="/cadastro-gasto" method="post">
        <input type="text" name="nome_gasto" class="ipt" placeholder="Nome do Gasto">
        <input type="text" name="valor_gasto" class="ipt" placeholder="Valor do Gasto">
    <select name="nome_mes_gasto" id="meses">
            <option value="Janeiro">Janeiro</option>
            <option value="Fevereiro">Fevereiro</option>
            <option value="Março">Março</option>
            <option value="Abril">Abril</option>
            <option value="Maio">Maio</option>
            <option value="Junho">Junho</option>
            <option value="Julho">Julho</option>
            <option value="Agosto">Agosto</option>
            <option value="Setembro">Setembro</option>
            <option value="Outubro">Outubro</option>
            <option value="Novembro">Novembro</option>
            <option value="Dezembro">Dezembro</option>
        </select>        
        <button type="submit" class="btn">Enviar Gasto do mes</button>
        

    </form>
    <form action="/deletar-gasto" method="post">
        <button type="submit" name="botao" value="deletartodos">Deletar todos</button>
        <button type="submit" name="botao" value="deletarum">Deletar um</button>
    </form>
    
        <button type="button" onclick="window.location.href='/'">Voltar</button>

</body>
</html>