<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <title>Cadastro de salario</title>
</head>
<body>
    <h1>Cadastrar salario</h1>
    <form action="/cadastro-salario" method="post">
        <select name="nome_mes_salario" class="form-select" aria-label="Default select example" id="meses">
            <option selected>Selecione o Mês </option>
            <option value="Janeiro">Janeiro</option>
            <option value="Fevereiro">Fevereiro</option>
            <option value="Março">Março</option>
            <option value="Abril">Abril</option>
            <option value="Maio">Maio</option>
            <option value="Junho">Junho</option>
            <option value="Julho">Julho</option>
            <option value="Agosto">Agosto</option>
            <option value="Setembro">Setembro</option>
            <option value="Outubro">Outubro</option>
            <option value="Novembro">Novembro</option>
            <option value="Dezembro">Dezembro</option>
        </select>

        <div class="form-floating mb-3">
        <input type="text" name="salario" class="form-control" id="floatingInput" value= 0 >
        <label for="floatingInput">Valor do salario</label>
        </div>

        <button type="submit" class="btn">Enviar Salario do mes</button>
    </form>
    
        <button type="button" onclick="window.location.href='/'" class="btn">Voltar</button>

</body>
</html>