<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Gastos</title>
</head>
<body>
    <h1>Gerenciador de Gastos</h1>
    <form action="/" method="get">
    <button type="submit" name="botao" value="salario">Cadastrar Salario</button>
    <button type="submit" name="botao" value="gasto">Cadastrar Gasto</button>
    </form>
<!--tabelas totais(por divida nome, por mes)-->
    <table border=1>
        <tr><th>TOTAL DIVIDAS POR MES</th></tr>
        <tr><th>
            
        </th></tr>
        <tr>{%for mes, total in gastos_somados_mes%}
            <tr><th>{{mes}}</th>
            <td>{{total}}</td>
            </tr>
            {%endfor%}
        </tr>
    </table>

    <table border=1>
        <tr><th> TOTAL DIVIDAS POR NOME DIVIDA</th></tr>
         <tr><!--CRIA UMA LINHA NA TABELA-->
            {% for nome_gasto, total in gastos_somados_nome_gasto%}
                <tr><th>{{nome_gasto}}</th>
                <td>{{total}}</td>
                </tr>
            {% endfor %}
        </tr>
    </table>

<!--tabela de economia-->
    <table border=1>
        <tr><th>QUANTO GUARDAR CADA MÊS 30%</th></tr>
        <tr>
            {% for mes, salario in campo_nome_mes_salario%}
            <tr><th>{{mes}}</th>
            <td>{{salario * 0.3}}</td>
            </tr>
            {% endfor %}
        </tr>
    </table>
</body>
</html>